<div id="banner">

    <div id="nomeutente">
      <h3> <%= @user.name %> </h3>
    </div>
    <div id="infoutente">
    <h3 id="infoutente"> - <%= @user.chisei %> - </h3>
        </div>
  </div>


<div>
  <h2> - Gallery - </h2>
  <%= image_tag ("Galleria.jpg") %>
</div>