<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Gusta' %>

<div id="pic">
  <%= image_tag ("Gusta/Gusta.png") %>
  <ul>
    <li class="Birramisu">
      <a id="pic_gusta" href="/users/dettaglio_gusta"> </a>
    </li>
  </ul>
</div>