<% provide :title, 'Gusta' %>

<div id="pic_gusta">
  <%= image_tag ("Gusta/Gusta.png") %>
  <ul>
    <li id="1Gusta">
      <%= link_to image_tag("Gusta/1Gusta.png", :size => "285x166"), { :action => "dettaglio_gusta", :controller => "users" }%>

    </li>
    <li id="2Gusta">
      <%= link_to image_tag("Gusta/2Gusta.png", :size => "285x166"), { :action => "dettaglio_gusta2", :controller => "users" }%>
    </li>
  </ul>
</div>


