<% provide :title, 'Il mio Birrificio' %>
<div id="banner">

<% if current_user?(@user) %>
  <%  @user = User.find(params[:id])  %>
<% end %>
<%= render 'shared/infoutente' %>
</div>


<% if @user == current_user%>
<div>
    <h2> - Il mio Birrificio - </h2>
    <%= image_tag ("Ilmiobirrificio.png") %>
</div>
<% else %>
<div class="row">
    <aside class="span3">
        <section>
            <%= render 'shared/barra_amico' %>
        </section>
    </aside>
    <div class="span9">
        <h2> - Il mio Birrificio - </h2>
        <%= image_tag ("Ilmiobirrificio.png") %>
    </div>
</div>
<% end %>