<div>

</div>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/barra_amico' %>
    </section>
  </aside>

  <div class="span8">
    <h2> - Il mio Birrificio - </h2>
    <%= image_tag ("") %>
  </div>

</div>