<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'In Cantina' %>

<div id="pic_incantina">
  <%= image_tag("InCantina/InCantina.png") %>
 <ul>
   <li id="1Incantina">
   <%= link_to image_tag("InCantina/1Incantina.png", :size => "285x166"), { :action => "dettaglio_incantina", :controller => "users" }%>

   </li>
   <li id="2Incantina">
     <%= link_to image_tag("InCantina/2Incantina.png", :size => "285x166"), { :action => "dettaglio_incantina2", :controller => "users" }%>
   </li>
 </ul>
</div>



