<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'In Cantina' %>

<div id="pic">
  <%= image_tag ("InCantina.png") %>
 <ul>
   <li class="PrimaBirra">
     <a id="pic_incantina" href="/users/1/dettaglio_incantina"> </a>
   </li>
 </ul>
</div>