<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'About' %>

<h1>About</h1>
<p>A TuttaBirra è un Social Network dedicato alle varie tipologie di birra e dei metodi di produzione.
  Utile per ottenere consigli e per trovare le materie prime migliori per produrre la birra in casa.
  Gestione di compravendita tra appassionati.
  Elenco di tutte le tipologie di birra e metodi di produzione.</p>
