<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Contact' %>

<h1>Contatti</h1>
<p>Luigi De Russis (<a href="mailto:luigi.derussis@polito.it?subject=ATuttaBirra">luigi.derussis@polito.it</a>)</p>
<p>Noemi Bodino (<a href="mailto:baudi90@libero.it?subject=ATuttaBirra">baudi90@libero.it</a>)</p>
<p>Michela Pratola (<a href="mailto:michela.pratola@gmail.com?subject=ATuttaBirra">michela.pratola@gmail.com</a>)</p>