<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Cerca appoggiato' %>

<h1 id="arancione">Cerca</h1>
<div id="ricerca">


  <p id="ricerca">Ricerca tramite:</p>

  <fieldset>
    <%= form_tag search_users_path, method: 'get', class: 'navbar-search pull-left' do %>
        <% # text_field_tag: the first parameter is the id/name of the input tag; the second is the value of the tag %>

        <p id="ricerca">
          <label>Utenti</label>
          <%= text_field_tag :search, params[:search], class: 'search-query'%>

          <label>Gruppi</label>
          <%= text_field_tag :search, params[:search], class: 'search-query' %>

          <label>Tag</label>
          <%= text_field_tag :search, params[:search], class: 'search-query' %>
        </p>

    <% end %>
  </fieldset>
</div>